<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travelando</title>
</head>
<body>
<main>
    <div class = "container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form action="#" th:action="@{/registrarViaje}" method="POST" th:object="${viaje}">
                <h3 class="form-signin-heading">Crear Viaje</h3>
                <hr class="colorgraph"><br>

                <input th:field="*{origen}" id="origen" type="text" class="dropdown-item" required/>
                <input th:field="*{destino}" type="text" id="destino" class="dropdown-item" required/>
                <input th:field="*{fechaHora}" type="datetime-local" id="fecha" class="form-control" >
                <input th:field="*{hora}" type="">

                <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" Type="Submit">Registrarme</button>
                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
                </p>
            </form>

        </div>
    </div>

</main>

</body>
</html>