<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="'Viaje creado por ' + ${viaje.usuario.nombre + ' ' + viaje.usuario.apellido}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Use Thymeleaf expressions for CSS URLs -->
    <link th:href="@{/plugins/nerd-fonts/css/nerd-fonts.css}" rel="stylesheet">
    <link th:href="@{/plugins/bootstrap/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/bootstrap/bootstrap-slider.css}" rel="stylesheet">
    <link th:href="@{/plugins/slick/slick.css}" rel="stylesheet">
    <link th:href="@{/plugins/slick/slick-theme.css}" rel="stylesheet">
    <link th:href="@{/plugins/jquery-nice-select/css/nice-select.css}" rel="stylesheet">

    <!-- Use Thymeleaf expressions for JavaScript URLs -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/popper.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/bootstrap-slider.js}"></script>
    <script th:src="@{/plugins/tether/js/tether.min.js}"></script>
    <script th:src="@{/plugins/raty/jquery.raty-fa.js}"></script>
    <script th:src="@{/plugins/slick/slick.min.js}"></script>
    <script th:src="@{/plugins/jquery-nice-select/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/plugins/google-map/map.js}" defer></script>
    <script src="https://kit.fontawesome.com/90ab493dae.js" crossorigin="anonymous"></script>
    <link href="https://www.nerdfonts.com/assets/css/webfont.css" rel="stylesheet">
    <!-- Use Thymeleaf expressions for your custom CSS and JavaScript -->
    <!--<link th:href="@{/css/style.css}" rel="stylesheet">-->
    <script th:src="@{/js/script.js}"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
          integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/perfil.css}" rel="stylesheet">
    <link th:href="@{/css/viaje.css}" rel="stylesheet">
    <link th:href="@{/css/modal.css}" rel="stylesheet">
</head>
<body class="body-wrapper bg-darkness">
<header class="fixed-top">
    <div th:if="${session != null ? session.isLogged : false}">
        <!-- Fragmento de barra de navegación para usuarios autenticados -->
        <div th:replace="navbar-user"></div>
    </div>
    <div th:unless="${session != null ? session.isLogged : false}">
        <!-- Fragmento de barra de navegación para invitados -->
        <div th:replace="navbar-guest"></div>
    </div>
</header>

<body>
    <div class="container spaceToHeaderFixed">
        <div class="card mb-3">
            <img class="card-img-top bottomSpace" th:src="@{'/destino/imagen/' + ${viaje.destino.id}}" height="380px" alt="Imagen descriptiva del destino del viaje">
            <h1 class="card-title text-center mt-3"
                th:text="'Viaje creado por ' + ${viaje.usuario.nombre + ' ' + viaje.usuario.apellido}"></h1>
            <!--<h5 class="card-text">Descripción</h5>-->
            <p class="card-text text-center topSpace" th:text="${viaje.descripcion}"></p>
            <div class="card-body row row-cols-2">
                <div class="col text-center">
                    <h5 class="card-text">Origen</h5>
                    <p class="card-text" th:text="${viaje.origen.provincia.nombre} + ', ' + ${viaje.origen.nombre}"></p>
                    <h5 class="card-text">Fecha de salida</h5>
                    <p class="card-text" th:text="${viaje.fecha}"></p>
                    <h5 class="card-text">Cupo del viaje</h5>
                    <p class="card-text" th:text="${viaje.cantidad}"></p>
                    <h5 class="card-text">Lugares disponibles</h5>
                    <p class="card-text" th:text="${viaje.cantidad - viaje.getListaPasajeros().size()}"></p>

                </div>
                <div class="col text-center">
                    <h5 class="card-text">Destino</h5>
                    <p class="card-text" th:text="${viaje.destino.provincia.nombre} + ', ' + ${viaje.destino.nombre}"></p>
                    <h5 class="card-text">Tiempo de viaje</h5>
                    <p class="card-text" id="duracion"></p>
                    <h5 class="card-text">Distancia a Recorrer</h5>
                    <p class="card-text" id="distancia"></p>
                    <h5 class="card-text">Condiciones</h5>
                    <li class="list-group-item" style="font-size: 2em !important;">
                        <span th:if="${viaje.noFumar}">
                            <!-- Mostrar el icono de NO permitido fumar si noFumar es true -->
                            <i class="nf nf-md-smoking"></i>
                        </span>
                        <span th:unless="${viaje.noFumar}">
                            <!-- Mostrar el icono de permitido fumar si noFumar es false -->
                            <i class="nf nf-md-smoking_off"></i>
                        </span>
                        <span th:if="${viaje.noNinios}">
                            <!-- Mostrar el icono de NO permitido niños si noNinios es true -->
                            <i class="nf nf-md-baby_carriage"></i>
                        </span>
                        <span th:unless="${viaje.noNinios}">
                            <!-- Mostrar el icono de permitido niños si noNinios es false -->
                            <i class="nf nf-md-baby_carriage_off"></i>
                        </span>
                        <span th:unless="${viaje.noMascotas}">
                            <!-- Mostrar el icono de permitido mascotas si noMascotas es false -->
                            <i class="nf nf-md-paw_off"></i>
                        </span>
                        <span th:if="${viaje.noMascotas}">
                            <!-- Mostrar el icono de mascotas tachado si noMascotas es true -->
                            <i class="nf nf-md-paw"></i>
                        </span>
                    </li>
                </div>
            </div>
            <!--<p class="card-text text-center topSpace"><small class="text-muted">Última actualización: hace 2 días</small></p>-->
            <div class="d-flex justify-content-center">
                <div class="d-flex col-lg-4">
                    <a th:href="@{/usuario(idUsuario= ${viaje.usuario.id})}"
                       class="btn btn-primary btn-block m-2">Ver perfil</a>
                    <a th:href="@{/unir-a-viaje(viaje = ${viaje.id})}" id="botonUnirme" class="btn btn-active btn-block m-2"
                       th:classappend="${unido ? 'btn-secondary' : 'btn-primary'}" th:text="${unido ? 'Unido' : 'Unirme'}">Unirme</a>
                    <button type="button" class="btn btn-success btn-block m-2" th:onclick="'mostrarGastos(\'' + ${viaje.id} + '\')'">
                        Ver Gastos
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div class="gastos-section container p-5 mt-4" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);" >
                <div class="card mt-0" style="padding: 2rem!important; box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);">
                    <h2 class="card-title text-center mb-5" style="text-decoration: underline;">Sección de Gastos</h2>
                    <table class="table listaGastos " >
                        <thead>
                        <tr class="text-center">
                            <th>Detalle</th>
                            <th>Monto</th>
                        </tr>
                        </thead>
                        <tbody id="tablaGastos" class="text-center">
                        </tbody>
                    </table>
                    <h5 class="card-text" style="margin-top: 15px;text-align: center;font-style: italic; margin-bottom: 20px;">Gasto total: <span id="montoTotal"></span></h5>
                    <p class="card-footer card-text" style="background-color: rgba(0,0,0,0.1)!important;margin-top: 1rem!important;border: 1px solid rgba(0,0,0,.125)!important;">*Recuerde que el TOTAL puede variar segun los gastos que agregue el conductor ya que este puede seguir agregando gastos hasta el final del viaje.</p>
                    <p class="card-footer card-text" style="background-color: rgba(0,0,0,0.1)!important;margin-top: 0!important;border: 1px solid rgba(0,0,0,.125)!important;">*El cálculo por persona es variable segun la cantidad de personas en el viaje.</p>
                    <div class=" mt-3 row">
                        <button type="btn-calcular-gasto" class="btn btn-success col-3 ms-2" onclick="calcularMontoPorPersona()">Calcular Monto por Persona</button>

                        <!-- Mostrar el resultado del cálculo del monto por persona -->
                        <h6 class="card-text  ms-5 col-6 " id="calcular-gasto"  style="display: none; font-size: 20px; ">Monto por persona: <span id="montoPorPersona"></span></h6>
                    </div>
                </div>
            </div>
            </div>

            <div class="card border-light">
                <div class="card-header justify-content-center">
                    <h2>Recorrido del viaje</h2>
                </div>
                <div id="mapa" class="card border-light mb-0" style="height:400px;"
                     th:data-origen="${coordenadaOrigen}"
                     th:data-destino="${coordenadaDestino}">
                </div>
            </div>

    </div>
</div>





<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeHh7_S2wkpYRu1DNMwzAZr5bcSd-cpY0&callback=initMap" async
        defer></script>
<script th:src="@{/js/maps.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtener el enlace por su ID
        var enlaceUnirme = document.getElementById("botonUnirme");

        // Verificar si el enlace está presente y su texto es 'Unido'
        if (enlaceUnirme && enlaceUnirme.innerText.trim() === 'Unido') {
            // Cambiar el comportamiento del enlace
            enlaceUnirme.style.pointerEvents = "none"; // Deshabilitar el clic
            enlaceUnirme.style.color = "gray"; // Cambiar el color a gris para mostrarlo deshabilitado
            enlaceUnirme.removeAttribute("href"); // Eliminar el atributo 'href'
            // Opcionalmente, puedes agregar un mensaje de título al pasar el mouse sobre el enlace para indicar que está deshabilitado
            enlaceUnirme.setAttribute("title", "Este botón está deshabilitado");
        }
    });
</script>
<script type="text/javascript"></script>
<script th:src="@{/js/modal.js}"></script>
</body>
<!--
</html>-->
